$desktopSize:1366;

@function responsiveSize($mockupSize, $viewportSize) {
  $result: $mockupSize / ($viewportSize / 100);
  @return $result + vw;
}

@mixin fontTitle() {
  font-weight: 600;
  font-size: responsiveSize(32, $desktopSize);
  margin-top: responsiveSize(100,$desktopSize);
}

@mixin fontDescription() {
  font-size: responsiveSize(24, $desktopSize);
  margin: responsiveSize(50,$desktopSize) 0;
}

@keyframes boom {
  0% {
    transform: scale(0.75) translateY(3.2rem);
    opacity: 0.3;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.visible {
  animation-name: boom;
  animation-duration: 2000ms;
  animation-fill-mode: both;
}

html {
  font-size: 32px;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header__wrap {
  background-color: #e9e9e9;
  width: 100%;
}

.header__navbar {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: responsiveSize(5, $desktopSize);
}

.header__logo {
  width: responsiveSize(60, $desktopSize);
  height: responsiveSize(50, $desktopSize);

  a {
    display: block;
    background: URL("../images/logo.png") center no-repeat;
    background-size: cover;
    width: responsiveSize(35, $desktopSize);
    height: responsiveSize(29, $desktopSize);
    margin-top: responsiveSize(2, $desktopSize);
  }
}

.header__search {
  display: none;
  width: responsiveSize(800, $desktopSize);
  background-color: #10c9c3;
  height: responsiveSize(50, $desktopSize);
}

#search__button {
  color: #fff;
  border: 0;
  outline: none;
  width: responsiveSize(700, $desktopSize);
  vertical-align: top;
  margin: responsiveSize(10, $desktopSize);
  background-color: #10c9c3;
  font-size: responsiveSize(24, $desktopSize);
  margin-left: responsiveSize(60, $desktopSize);
}

.header__menu {
    width: 60%;
    margin: 0 10%;
    
    .menu {
        height: responsiveSize(30, $desktopSize);
        .menu__list {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            vertical-align: top;
            .menu__item {
                list-style-type: none;
                
                a{
                    display: block;
                    text-decoration: none;
                    color: black;
                    font-size: responsiveSize(24, $desktopSize);
                    
                    &:hover {
                        color: rgb(72, 209, 204);
                    }
                }
            }
        }
    }
}

a:hover {
    cursor: pointer;
}

.search__icon {
    display: block;
    width: responsiveSize(30, $desktopSize);
    height: responsiveSize(30, $desktopSize);
    background: URL("../images/search.png") center no-repeat;
    background-size: cover;
    margin-top: responsiveSize(10, $desktopSize);
}

.basket__icon {
    display: block;
    margin-top: responsiveSize(10, $desktopSize);
    width: responsiveSize(30, $desktopSize);
    height: responsiveSize(30, $desktopSize);
    background: URL("../images/basket.png") center no-repeat;
    background-size: cover;
}

.header__blog {
    background: URL("../images/hero-banner.png") center no-repeat;
    background-size: cover;
    width: 100%;
    height: responsiveSize(600, $desktopSize);
    color: #fff;
    text-align: center;
    padding: responsiveSize(150, $desktopSize) 0;
    
    .firbl__title {
        font-size: responsiveSize(32, $desktopSize);
    }
    
    .firbl__description {
        font-weight: 600;
        font-size: responsiveSize(50, $desktopSize);
        margin-top: responsiveSize(20, $desktopSize);
    }
    
    .firbl__date {
        font-size: responsiveSize(28, $desktopSize);
        margin-top: responsiveSize(20, $desktopSize);
    }
    
}

.slider__blog {
    margin: responsiveSize(100, $desktopSize);
    
    .slider__list {
        
        .slider__item {
            text-align: center;
            margin: 0 responsiveSize(10, $desktopSize);
            .slider__image {
                
                img {
                    width: responsiveSize(330, $desktopSize);
                }
            }
            
            .slider__link {
                display: inline-block;
                text-decoration: none;
                color: #fff;
                background-color: #10c9c3;
                font-size: responsiveSize(24, $desktopSize);
                width: responsiveSize(100, $desktopSize);
                height: responsiveSize(40, $desktopSize);
                padding-top: responsiveSize(5, $desktopSize);
            }
            
            .slider__title {
                font-size: responsiveSize(24, $desktopSize);
                font-weight: 600;
            }
            
            .slider__date {
                font-size: responsiveSize(20, $desktopSize);
                color: #10c9c3;
            }
        }
    }
}

.blog__main {
    padding: 0 responsiveSize(100, $desktopSize);
    text-align: center;
    
    .main__list {
        .main__item {
            margin: responsiveSize(70, $desktopSize) 0;
            list-style-type: none;
            .main__image {
                position: relative;
                img {
                    width: responsiveSize(900, $desktopSize);
                }
                .image__stats {
                    position: absolute;
                    bottom: responsiveSize(8, $desktopSize);
                    left: responsiveSize(125, $desktopSize);
                    background-color: aliceblue;
                    font-size: responsiveSize(24, $desktopSize);
                    
                    .stats__calendar {
                        display: inline-flex;
                        justify-content: space-between;
                        width: responsiveSize(230, $desktopSize);
                        
                        .calendar {
                            background: URL("../images/calendar.png") center no-repeat;
                            background-size: cover;
                            width: responsiveSize(30, $desktopSize);
                            height: responsiveSize(30, $desktopSize);
                        }
                    }
                }
            }
        }
    }
    
    .main__text {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        margin: responsiveSize(32, $desktopSize) 0;
        
        .main__title {
            width: 30%;
            font-size: responsiveSize(32, $desktopSize);
            font-weight: 600;
            margin-left: responsiveSize(50, $desktopSize);
        }
        
        .count {
            margin-right: responsiveSize(150, $desktopSize);
            width: 84%;
        }
    }
    
    .main__description {
        font-size: responsiveSize(28, $desktopSize);
    }
}

.im {
    background: url('../images/heart.gif') center no-repeat;
    background-size: cover;
    width: responsiveSize(25, $desktopSize);
    height: responsiveSize(25, $desktopSize);
    display: inline-block;
}

.count .rate-base-layer span{
    opacity: 0.5;
}

.footer__wrap {
  width: 100%;
  background-color: #141414;
  padding: responsiveSize(100,$desktopSize);
  display: inline-flex;
  justify-content: space-between;

  color: #bcbcbc;

  .footer__info {
    width: 20%;
    .footer__title {
      color: #fff;
      font-weight: 600;
      font-size: responsiveSize(24, $desktopSize);
    }

    .footer__description {
      font-size: responsiveSize(16, $desktopSize);
      margin-top: responsiveSize(5, $desktopSize);
    }
  }

  .footer__mail {
    width: 30%;
    font-size: responsiveSize(20, $desktopSize);

    .mail__number {
      margin-top: responsiveSize(10, $desktopSize);
    }
  }

  .footer__projects {
    width: 15%;
    font-size: responsiveSize(20, $desktopSize);

    .project__list {
      .project__item {
        margin: responsiveSize(5, $desktopSize);
        list-style-type: none;

        a {
          text-decoration: none;
          color: #bcbcbc;
        }
      }
    }
  }

  .footer__site {
    width: 15%;
    font-size: responsiveSize(20, $desktopSize);

    .site__list {
      .site__item {
        margin: responsiveSize(5, $desktopSize);
        list-style-type: none;

        a {
          text-decoration: none;
          color: #bcbcbc;
        }
      }
    }
  }

  .footer__links {
    width: 15%;
    font-size: responsiveSize(20, $desktopSize);

    .links__list {
      .links__item {
        margin: responsiveSize(5, $desktopSize);
        list-style-type: none;

        a {
          text-decoration: none;
          color: #bcbcbc;
        }
      }
    }
  }
}
