@-webkit-keyframes boom {
  0% {
    -webkit-transform: scale(0.75) translateY(3.2rem);
    transform: scale(0.75) translateY(3.2rem);
    opacity: 0.3; }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

@keyframes boom {
  0% {
    -webkit-transform: scale(0.75) translateY(3.2rem);
    transform: scale(0.75) translateY(3.2rem);
    opacity: 0.3; }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

.visible {
  -webkit-animation-name: boom;
  animation-name: boom;
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

html {
  font-size: 32px;
  overflow-x: hidden; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.header__wrap {
  background-color: #e9e9e9;
  width: 100%; }

.header__navbar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0.36603vw; }

.header__logo {
  width: 4.39239vw;
  height: 3.66032vw; }
  .header__logo a {
    display: block;
    background: URL("../images/logo.png") center no-repeat;
    background-size: cover;
    width: 2.56223vw;
    height: 2.12299vw;
    margin-top: 0.14641vw; }

.header__search {
  display: none;
  width: 58.56515vw;
  background-color: #10c9c3;
  height: 3.66032vw; }

#search__button {
  color: #fff;
  border: 0;
  outline: none;
  width: 51.24451vw;
  vertical-align: top;
  margin: 0.73206vw;
  background-color: #10c9c3;
  font-size: 1.75695vw;
  margin-left: 4.39239vw; }

.header__menu {
  width: 60%;
  margin: 0 10%; }
  .header__menu .menu {
    height: 2.19619vw; }
    .header__menu .menu .menu__list {
      width: 100%;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      vertical-align: top; }
      .header__menu .menu .menu__list .menu__item {
        list-style-type: none; }
        .header__menu .menu .menu__list .menu__item a {
          display: block;
          text-decoration: none;
          color: black;
          font-size: 1.75695vw; }
          .header__menu .menu .menu__list .menu__item a:hover {
            color: mediumturquoise; }

a:hover {
  cursor: pointer; }

.search__icon {
  display: block;
  width: 2.19619vw;
  height: 2.19619vw;
  background: URL("../images/search.png") center no-repeat;
  background-size: cover;
  margin-top: 0.73206vw; }

.basket__icon {
  display: block;
  margin-top: 0.73206vw;
  width: 2.19619vw;
  height: 2.19619vw;
  background: URL("../images/basket.png") center no-repeat;
  background-size: cover; }

.header__info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  padding: 0 5.12445vw;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 2.92826vw; }
  .header__info .info__text {
    width: 50%;
    margin: 10.98097vw 0; }
    .header__info .info__text .info__title {
      font-size: 3.66032vw;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.36603vw; }
    .header__info .info__text .info__description {
      font-size: 1.75695vw;
      margin-top: 2.19619vw;
      border-spacing: 10px; }
  .header__info .info__image {
    background: URL("../images/model_woman_1.png") center no-repeat;
    background-size: cover;
    width: 50%;
    height: 39.53148vw; }

.start__wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0 7.32064vw;
  margin: 7.32064vw 0;
  line-height: 2.92826vw; }
  .start__wrap .start__image {
    width: 50%;
    height: 29.28258vw;
    background-size: cover;
    background: URL("../images/person_1.jpg") center no-repeat; }
  .start__wrap .start__text {
    width: 50%; }
    .start__wrap .start__text .start__title {
      font-size: 2.34261vw;
      font-weight: 600; }
    .start__wrap .start__text .start__description {
      font-size: 1.75695vw;
      margin: 3.66032vw 0; }

.about__info {
  margin: 0 5.85652vw 7.32064vw; }
  .about__info .info__list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .about__info .info__list .info__item {
      width: 30%;
      list-style-type: none;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .about__info .info__list .info__item .info__text {
        width: 80%;
        margin-left: 0.36603vw; }
        .about__info .info__list .info__item .info__text .info__title {
          font-size: 2.34261vw;
          font-weight: 600;
          display: inline-block; }
        .about__info .info__list .info__item .info__text .info__description {
          margin-top: 0.73206vw;
          font-size: 1.75695vw;
          color: #6b6363; }

.info__image1 {
  background: URL("../images/cargo.png") center no-repeat;
  background-size: cover;
  width: 6.58858vw;
  height: 3.66032vw; }

.info__image2 {
  background: URL("../images/question.png") center no-repeat;
  background-size: cover;
  width: 3.66032vw;
  height: 3.66032vw; }

.info__image3 {
  background: URL("../images/update.png") center no-repeat;
  background-size: cover;
  width: 3.87994vw;
  height: 3.66032vw;
  display: inline-block; }

.map__wrap {
  margin: 3.66032vw 7.32064vw; }
  .map__wrap .map__title {
    margin: responsivesize(50, 1366) 0;
    text-align: center; }
  .map__wrap iframe {
    width: 100%; }

.share__title {
  font-size: 2.34261vw;
  font-weight: 600;
  text-align: center;
  margin: 3.66032vw 0; }

.share__wrap {
  margin: 1.46413vw 20% 7.32064vw;
  font-size: 1.75695vw;
  color: slategray; }

.share__links > ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40%;
  margin: 0 35%; }

.share__links > ul > li {
  list-style-type: none;
  width: 33%; }

.share__links > ul > li > a {
  width: 3.66032vw;
  height: 3.66032vw;
  display: block;
  padding: 6% 0;
  text-align: center;
  border-radius: 2.19619vw; }

.share__facebook {
  background-color: #7835e7; }

.share__insta {
  background-color: #5505da; }

.share__twitter {
  background-color: #ae9bce; }

.share__facebook > img {
  width: 1.02489vw;
  height: 1.90337vw; }

.share__twitter > img {
  width: 1.90337vw;
  height: 1.90337vw; }

.share__insta > img {
  width: 2.19619vw;
  height: 2.19619vw; }

.team__title {
  font-size: 2.34261vw;
  font-weight: 600;
  text-align: center;
  margin: 7.32064vw 0; }

.team__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  padding: 0 7.32064vw;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .team__list .team__item {
    width: 50%;
    list-style-type: none;
    margin: 3.66032vw 0;
    text-align: center; }
    .team__list .team__item .team__name {
      font-size: 2.34261vw;
      font-weight: 600;
      margin-top: 0.73206vw;
      letter-spacing: 0.21962vw; }
    .team__list .team__item .team__spec {
      font-size: 1.61054vw;
      text-transform: uppercase;
      color: #6b6363;
      letter-spacing: 0.21962vw; }
    .team__list .team__item .team__description {
      font-size: 1.75695vw;
      color: #6b6363;
      margin-top: 2.34261vw;
      line-height: 2.41581vw; }

.team__item:nth-child(2n) > .team__image {
  background: URL("../images/person_2.jpg") center no-repeat;
  background-size: cover;
  width: 7.32064vw;
  height: 7.32064vw;
  border-radius: 7.32064vw;
  display: inline-block; }

.team__item:nth-child(2n+1) > .team__image {
  background: URL("../images/person_1.jpg") center no-repeat;
  background-size: cover;
  width: 7.32064vw;
  height: 7.32064vw;
  border-radius: 7.32064vw;
  display: inline-block; }

.footer__wrap {
  width: 100%;
  background-color: #141414;
  padding: 7.32064vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #bcbcbc; }
  .footer__wrap .footer__info {
    width: 20%; }
    .footer__wrap .footer__info .footer__title {
      color: #fff;
      font-weight: 600;
      font-size: 1.75695vw; }
    .footer__wrap .footer__info .footer__description {
      font-size: 1.1713vw;
      margin-top: 0.36603vw; }
  .footer__wrap .footer__mail {
    width: 30%;
    font-size: 1.46413vw; }
    .footer__wrap .footer__mail .mail__number {
      margin-top: 0.73206vw; }
  .footer__wrap .footer__projects {
    width: 15%;
    font-size: 1.46413vw; }
    .footer__wrap .footer__projects .project__list .project__item {
      margin: 0.36603vw;
      list-style-type: none; }
      .footer__wrap .footer__projects .project__list .project__item a {
        text-decoration: none;
        color: #bcbcbc; }
  .footer__wrap .footer__site {
    width: 15%;
    font-size: 1.46413vw; }
    .footer__wrap .footer__site .site__list .site__item {
      margin: 0.36603vw;
      list-style-type: none; }
      .footer__wrap .footer__site .site__list .site__item a {
        text-decoration: none;
        color: #bcbcbc; }
  .footer__wrap .footer__links {
    width: 15%;
    font-size: 1.46413vw; }
    .footer__wrap .footer__links .links__list .links__item {
      margin: 0.36603vw;
      list-style-type: none; }
      .footer__wrap .footer__links .links__list .links__item a {
        text-decoration: none;
        color: #bcbcbc; }
